@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 20px;
  position: relative;

  .navigate {
    @include base-medium;

    margin-bottom: 10px;
    text-decoration: underline;
    color: $color-primary-dark;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  svg {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
}
