@import '../../styles/colors.scss';

.wrapper {
  width: fit-content;
  position: absolute;
  top: 20px;
  right: 90px;

  .button-wrapper {
    background-color: transparent;
    cursor: pointer;
    border: none;

    &:hover {
      path {
        stroke: $color-primary-base;
      }
    }
  }
}
