@import '../../styles/colors.scss';
@import '../../styles/typography.scss';
@import '../../styles/mixins.scss';

.button {
  @include lg-medium;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 54px;
  padding: 16px;
  color: $color-text-primary-button;
  background-color: $color-primary-base;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  @include x-small {
    width: 100%;
  }

  &:hover {
    background-color: $color-primary-semi;
    box-shadow: 0 2px 4px 0 $color-primary-shadow;
  }

  &:active {
    background-color: $color-primary-base;
    box-shadow: 2px 2px 4px 0 $color-primary-shadow inset;
  }

  &.small,
  &.secondary-small {
    width: 232px;
  }

  &.secondary-small {
    background-color: transparent;
    border: 1px solid $color-primary-dark;
    color: $color-text-primary;

    &:hover,
    &:active {
      background-color: transparent;
      color: $color-primary-dark;
    }
  }

  &.add {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;

    &::after,
    &::before {
      content: '';
      width: 24px;
      height: 2px;
      background-color: $color-primary-light;
      position: absolute;
      top: 24px;
      left: 13px;
    }

    &::before {
      transform: rotate(90deg);
    }
  }
}
