@import './styles/colors.scss';
@import './styles/typography.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include base-regular;

  margin: 0;
  color: $color-text-primary;
  background-color: $color-bg-page;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}
